<html lang="en">
<head>
    <title>Check result</title>
</head>
<body>
{% if guessed == correct%}
Your answer {{guessed}} is correct!
{% else %}
Your answer - {{guessed}}. Correct answer - {{correct}}.
{% endif %}
<br>
<a href="/">Start again</a>
</body>
</html>