<html lang="en">
<head>
    <title>Guess who</title>
</head>
<body>
<form method="get" action="/start">
    <label for="difficulty">Select difficulty:</label>
    <select name="difficulty" id="difficulty">
        {% for key, value in difficulties.items() %}
        <option value="{{key}}">{{key}} (Top {{value}})</option>
        {% endfor %}
    </select>
    <br>
    <button>Start game</button>
</form>
</body>
</html>