<html lang="en">
<head>
    <title>Guess who</title>
</head>
<body>
<img src="{{image_link}}" style="max-width: 100%; height: 300px">
<br>
<form method="post" action="/guess">
    <label for="name_index">Select name:</label>
    <select name="name_index" id="name_index">
        {% for guess_index in guess_indices %}
        <option value="{{guess_index}}">{{names[guess_index]}}</option>
        {% endfor %}
    </select>
    <br>
    <button>Submit</button>
</form>
</body>
</html>