<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>{{ feed.title }}</title>
    <style>
        img {
            max-width: 400px;
            height: auto;
        }

        .left {
            float: left;
        }

        .right {
            float: right;
        }
    </style>
</head>
<body>
<h1></h1>

<div>
    <form method="post" action="/feed/{{ feed_id }}">
        <h3 class="left">
            <a href="{{ feed.link }}">{{ feed.title }}</a>
            <input type="submit" value="[refresh]">
        </h3>
    </form>
    <h3 class="right"><a href="/">Feed</a></h3>
</div>

<div style="clear: both;"></div>

<hr>

{% for post in posts %}
    <div style="overflow: hidden; background-color: gainsboro">
        <h3 class="left">{{ post.title }}</h3>
        <p class="right"> {{ post.published | format_time }} </p>
    </div>

    <br>

    {{ post.summary | safe }}

    <hr>
{% endfor %}

{% for n in range(1, pages_count + 1) %}
    {% if n == page %}
        {{ n }}
    {% else %}
        <a href="/feed/{{ feed_id }}?page={{ n }}">{{ n }}</a>
    {% endif %}
{% endfor %}
</body>
</html>