<html lang="en">
<head>
    <title>RSS</title>
</head>
<body>
Available feeds:
<ul>
    {% for feed in feeds %}
        <li><a href="/feed/{{ feed.db_id }}">{{ feed.title }}</a></li>
    {% endfor %}
</ul>

Import feed:
<form method="post" action="/import">
    <input type="text" name="link" placeholder="Put link here"/>

    <input type="submit" value="Import">
</form>
</body>
</html>